body{
	padding: 0;
	margin: 0;
}
.content{
	background: white;
	margin: auto;
	margin-top: 200px;
	vertical-align: center;
	width: 960px;
}

.content .datas{
	margin: auto;
    overflow: hidden;
    text-align: center;
    width: 554px;
	height: 50px;
}

.content .datas .text{
	border-style: solid;
	border-width:1px;
	border-color: #cecece;
	border-radius: 3px;
	float: left;
	font-size: 25px;
	height: 50px;
	padding-left: 10px;
	width: 500px;
}

.content .datas .button{
	background: url(../img/getit.jpg) no-repeat 0 0;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	width: 50px;
	overflow: hidden;
	text-indent: 120px;
}
.content .loading{
	display: block;
	opacity: 0;
	margin: auto;
}

.content .qr-code{
	margin: auto;
}

